*{
    font-family: sans-serif;
}
.footer{
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    width:100vw;
    background-color: rgb(44, 44, 44);
    position: fixed;
    z-index: 1;
    max-height: 50px;
    height: 100%;
    flex-grow: 1;
    justify-content: space-between;
  }
 .footer img{
    height:30px;
    padding:0 20px
 }
 @media (max-width:600px){
    .footer img{
        width:auto;
        height: 5vw;
        padding: 0%;
    }
    .footer{
        height:40px;
    }

 }
.connect{
    margin-top: 70px;
    padding: 20px;
    justify-content: center;
    display: flex;
}
@media (max-width:600px) {
    .connect{
        flex-direction: column;
    }
}